
@{
                /**/

                ViewBag.Title = "New";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>


<div id="app" v-cloak>
    <div class="row d-print-none" style="background-color: #f6f7f8 !important;">
        <div class="col-md-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                    <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
            <h4 style="padding-left: 15px;">Dashboard</h4>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <div class="card" v-show="!isPreview" style="font-size: 0.85em; color: #6c757d !important;">
                <div class="card-body">
                    <div>
                        <canvas id="test2" width="700" height="200" style="max-height:300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" v-show="!isPreview" style="font-size: 0.85em; color: #6c757d !important;">
                <div class="card-body">
                    <div>
                        <canvas id="test3" width="700" height="200" style="max-height:300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="card" v-show="!isPreview" style="font-size: 0.85em; color: #6c757d !important;">
                <div class="card-body">
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" v-show="!isPreview" style="font-size: 0.85em; color: #6c757d !important;">
                <div class="card-body">
                    <div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            <div class="card" v-show="!isPreview" style="font-size: 0.85em; color: #6c757d !important;">
                <div class="card-body">
                    <div>
                        <canvas id="test1" width="700" height="100" style="max-height:300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

        var random = function () {
            var res = [];
            for (i = 0; i < 12; i++) {
                res.push(Math.ceil(Math.random() * 10000000));
            }
            return res;
        }

        var purchaseColor = function () {
            var res = [];
            for (i = 0; i < 12; i++) {
                res.push("rgba(54, 162, 235, 0.2)");
            }
            return res;
        }

        var purchaseBG = function () {
            var res = [];
            for (i = 0; i < 12; i++) {
                res.push("rgb(54, 162, 235)");
            }
            return res;
        }
        var SaleColor = function () {
            var res = [];
            for (i = 0; i < 12; i++) {
                res.push("rgba(75, 192, 192, 0.2)");
            }
            return res;
        }
        var SaleBG = function () {
            var res = [];
            for (i = 0; i < 12; i++) {
                res.push("rgb(75, 192, 192)");
            }
            return res;
        }

        $(document).ready(function () {

            Chart.defaults.global.legend.position = "bottom";

            new Chart(document.getElementById("test1"), {
                "type": "bar",
                "data": {
                    "labels": ["January", "February", "March", "April", "May", "June", "July", "August", "Sep", "Oct", "Nov", "Dec"],
                    "datasets": [{
                        "label": "Purchase",
                        "data": random(),
                        "fill": false,
                        "backgroundColor": "rgba(54, 162, 235, 0.2)",
                        "borderColor": purchaseBG(),
                        "borderWidth": 1
                    }, {
                        "label": "Sale",
                        "data": random(),
                        "fill": false,
                        "backgroundColor": SaleColor(),
                        "borderColor": SaleBG(),
                        "borderWidth": 1
                    }]
                },
                "options": {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Sale-Purchase last 12 months report'
                    },
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                "beginAtZero": true,
                                callback: function (label, index, labels) {
                                    return label.toLocaleString();
                                }
                            },
                            gridLines: {
                                display: false
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display: true
                            }
                        }]
                    },
                    tooltips: {
                        mode:"index",
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString() || '';
                                var label = data.datasets[tooltipItem.datasetIndex].label;
                                if (value) {
                                    value = ' ' + label + ': ' + value + ' INR';
                                }
                                return value;
                            }
                        }
                    }
                }
            });

            var chartColors = {
                "SGST": "rgb(133, 193, 233)",
                "CGST": "rgb(127,179,213)",
                "Sale": "rgb(126,218,198)",
                "Purchase": "rgb(125,206,160)"
            };

            var config2 = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                            50000,4500,4500
                        ],
                        backgroundColor: [
                            chartColors.Purchase,
                            chartColors.SGST,
                            chartColors.CGST
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                        'Purchase',
                        'SGST',
                        'CGST'
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Purchase with tax report'
                    }
                }
            };

            var config3 = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: [
                         65000, 7500,7500
                        ],
                        backgroundColor: [
                            chartColors.Sale,
                            chartColors.SGST,
                            chartColors.CGST
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                        'Sale',
                        'SGST',
                        'CGST'
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Sale with tax report'
                    }
                }
            };

            var ctx2 = document.getElementById('test2')
            new Chart(ctx2, config2);
            var ctx3 = document.getElementById('test3')
            new Chart(ctx3, config3);


            var obj = {};
            //new Vue({
            //    el: '#app',
            //    data: obj,
            //    mounted: {

            //    }
            //});

        });
    </script>
