################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MahadevHWBillingApp/v15/Server/sqlite3
/.vs/MahadevHWBillingApp/v15
/bin
/obj