
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
   
</style>

<div id="app">
    <div class="row" style="background-color: #f6f7f8 !important;">
        <div class="col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="padding-bottom: 0px; margin-bottom: 0px; background-color: #f6f7f8 !important;">
                    <li class="breadcrumb-item"><i class="fa fa-home">&nbsp;</i><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin</li>
                </ol>
            </nav>
            <h4 style="padding-left: 15px;">Accounts</h4>
        </div>
    </div>
    <div style="margin-top:20px;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-cloak v-show="alertMessage" style="margin-top: 20px;">
            {{alertMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div v-cloak class="alert alert-danger alert-dismissible fade show" role="alert" v-show="alertFailureMessage" style="margin-top: 20px;">
            {{alertFailureMessage}}
            <button type="button" class="close" v-on:click="closeAlertMessage('alertFailureMessage')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

            <div class="row">
                <div class="col-md-12 pb-3">
                    <button type="button" class="btn btn-success btn-sm" v-on:click="openModalForRegisterUser()">Add New Account</button>
                </div>
                <div class="col-md-12 pt-3" style="background-color:white;">
                    <table style="font-size: 0.85em; color: #6c757d !important;" class="table table-bordered table-sm">
                        <tr>
                            <th class="text-center">Account Name</th>
                            <th class="text-center">Account Type</th>
                            <th class="text-center">Password</th>
                        </tr>
                        <tr v-for="(user,index) in users">
                            <td class="text-center">{{user.Name}}</td>
                            <td class="text-center">{{user.AccountType}}</td>
                            <td class="text-center">{{user.Password}}</td>
                        </tr>
                    </table>
                </div>
            </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-4">Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control form-control-sm" v-model="User.Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control form-control-sm" v-model="User.Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Confirm Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control form-control-sm" v-model="User.ConfirmPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4">Account Type</label>
                        <div class="col-md-6">
                            <select class="form-control form-control-sm" v-model="User.AccountType">
                                <option value="TaxAccount">Tax Account</option>
                                <option value="NonTaxAccount">Non Tax Account</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" v-on:click="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        var obj = {
            alertFailureMessage: "",
            alertMessage: "",
            User: {
                Name: "",
                Password: "",
                ConfirmPassword: "",
            },
            users: []
        }
        new Vue({
            el: '#app',
            data: obj,
            methods: {
                openModalForRegisterUser: function () {
                    $("#myModal").modal({ backdrop: 'static', keyboard: false, show: true });
                },
                showLoginForm: function (value) {
                    this.isLogin = value;
                },
                register: function (e) {
                    var self = this;
                    if (self.User.Password && self.User.Password !== self.User.ConfirmPassword) {
                        self.alertFailureMessage = "Passoword not mactching";
                        return;
                    }

                    var endPoint = "/Account/Register";
                    $.post(endPoint,
                        self.User,
                        function (res) {
                            self.alertMessage = res.Message;
                        }).fail(function (res) {
                            self.alertFailureMessage = res.Message;
                        });
                },
                closeAlertMessage: function (property) {
                    // set alert message to empty
                    this[property] = "";
                },
                getUsers: function () {
                    var self = this;
                    $.get("/Account/Users", function (res) {
                        self.users = res;
                    })
                }
            },
            mounted() {
                this.getUsers();
            }
        });
    });
</script>
